## 1. Creating a DataFrame from a csv file

![weather_data_csv](images/weather_data_csv.jpg "Weather Data CSV file")

In [1]:
import pandas as pd

In [3]:
weather_data_from_csv_df = pd.read_csv("C:\\PythonTutorial\\MyPandas_Blog\\data sets\\weather_data_csv.csv")

weather_data_from_csv_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 2. Creating a DataFrame from an Excel file

![weather_data_xls](images/weather_data_xls.jpg "Weather Data Excel file")

In [6]:
weather_data_from_xls_df = pd.read_excel("C:\\PythonTutorial\\MyPandas_Blog\\data sets\\weather_data_xls.xlsx",0) # 0 means first tab

weather_data_from_xls_df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [7]:
weather_data_from_xls_df1 = pd.read_excel("C:\\PythonTutorial\\MyPandas_Blog\\data sets\\weather_data_xls.xlsx","Sheet1") # We can also use sheet name instead of 0

weather_data_from_xls_df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## 3. Creating a DataFrame from a Python Dictionary

weather_data = {
    'day': ['11/23/2019','11/24/2019','11/25/2019'],
    'temperature': [5,-1,3],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Snow','Sunny']
}

In [9]:
weather_data = {
    'day': ['11/23/2019','11/24/2019','11/25/2019'],
    'temperature': [5,-1,3],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Snow','Sunny']
}
weather_data_from_dict_df = pd.DataFrame(weather_data)
weather_data_from_dict_df

          day  temperature  windspeed  event
0  11/23/2019            5          6   Rain
1  11/24/2019           -1          7   Snow
2  11/25/2019            3          2  Sunny

## 4. Creating a DataFrame from a Tuples list

weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

In [11]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

#weather_data_from_tuple_list_df = pd.DataFrame(weather_data) If we do not pass the column names then the heading will be 0,1,2,3

weather_data_from_tuple_list_df = pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
weather_data_from_tuple_list_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## 5. Creating a DataFrame from a list of dictionaries

weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]

In [12]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 30, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 17, 'windspeed': 2, 'event': 'Snow'},
    
]

weather_data_from_list_of_dict_df = pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
weather_data_from_list_of_dict_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           30          7  Sunny
2  1/3/2017           17          2   Snow

## 6. Creating a DataFrame from a HTML file
## http://www.moneycontrol.com/mutual-funds/performance-tracker/returns/large-cap-fund.html

In [15]:
from pandas import read_html
import html5lib

##Get the URL of the web page
url = "http://www.moneycontrol.com/mutual-funds/performance-tracker/returns/large-cap-fund.html"

##Read the HTML page into a tables list
mutual_fund_data_from_html_df = pd.io.html.read_html(url)

#Print the tables list
mutual_fund_data_from_html_df

[                                          Scheme Name Crisil Rank  AuM (Cr)  \
 0   Axis Bluechip Fund - Direct Plan - GrowthLarge...           5   8749.21
 1           Axis Bluechip Fund - GrowthLarge Cap Fund           5   8749.21
 2   BNP Paribas Large Cap Fund - Direct Plan - Gro...           5    807.89
 3   BNP Paribas Large Cap Fund - GrowthLarge Cap Fund           5    807.89
 4   LIC MF Large Cap Fund - Direct Plan - GrowthLa...           4    305.62
 ..                                                ...         ...       ...
 58  JM Large Cap Fund - (Direct) - GrowthLarge Cap...           3   2555.64
 59  Franklin India Bluechip Fund - GrowthLarge Cap...           1   6669.50
 60           JM Large Cap Fund - GrowthLarge Cap Fund           3   2555.64
 61  Mahindra Pragati Bluechip Yojana - Regular Pla...           -     93.11
 62  Mahindra Pragati Bluechip Yojana - Direct Plan...           -     93.11

         1W     1M      3M     6M     YTD      1Y      2Y      3Y      5Y  \
 0   -1.05%  0.95%  10.10%  7.62%  11.44%  22.21%  14.23%  20.76%  11.35%
 1   -1.04%  0.87%   9.79%  6.98%  10.57%  20.73%  12.76%  19.22%  10.04%
 2   -0.66%  0.65%  10.35%  8.00%  10.01%  20.63%   8.09%  16.08%   9.93%
 3   -0.67%  0.57%  10.03%  7.36%   9.20%  19.22%   6.70%  14.57%   8.62%
 4   -1.17%  1.64%  11.36%  6.68%   9.01%  18.28%   8.17%  14.26%   8.35%
 ..     ...    ...     ...    ...     ...     ...     ...     ...     ...
 58   0.14%  1.21%   4.68%  1.57%   2.54%   6.28%   4.22%   9.95%   6.17%
 59   1.29%  3.10%  12.28%  1.13%  -1.44%   6.18%   1.02%   8.52%   6.36%
 60   0.12%  1.14%   4.44%  1.07%   1.89%   5.24%   3.11%   8.81%   4.84%
 61  -0.87%  0.16%  12.12%  4.57%   5.48%       -       -       -       -
 62  -0.84%  0.33%  12.70%  5.66%   6.89%       -       -       -       -

        10Y
 0        -
 1        -
 2        -
 3   12.13%
 4        -
 ..     ...
 58       -
 59  10.07%
 60   6.71%
 61       -
 62       -

 [63 rows x 13 columns]]

In [16]:
#Access the first table
mf_list = mutual_fund_data_from_html_df[0]
mf_list

,Scheme Name,Crisil Rank,AuM (Cr),1W,1M,3M,6M,YTD,1Y,2Y,3Y,5Y,10Y
0,Axis Bluechip Fund - Direct Plan - GrowthLarge...,5,8749.21,-1.05%,0.95%,10.10%,7.62%,11.44%,22.21%,14.23%,20.76%,11.35%,-
1,Axis Bluechip Fund - GrowthLarge Cap Fund,5,8749.21,-1.04%,0.87%,9.79%,6.98%,10.57%,20.73%,12.76%,19.22%,10.04%,-
2,BNP Paribas Large Cap Fund - Direct Plan - Gro...,5,807.89,-0.66%,0.65%,10.35%,8.00%,10.01%,20.63%,8.09%,16.08%,9.93%,-
3,BNP Paribas Large Cap Fund - GrowthLarge Cap Fund,5,807.89,-0.67%,0.57%,10.03%,7.36%,9.20%,19.22%,6.70%,14.57%,8.62%,12.13%
4,LIC MF Large Cap Fund - Direct Plan - GrowthLa...,4,305.62,-1.17%,1.64%,11.36%,6.68%,9.01%,18.28%,8.17%,14.26%,8.35%,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,JM Large Cap Fund - (Direct) - GrowthLarge Cap...,3,2555.64,0.14%,1.21%,4.68%,1.57%,2.54%,6.28%,4.22%,9.95%,6.17%,-
59,Franklin India Bluechip Fund - GrowthLarge Cap...,1,6669.50,1.29%,3.10%,12.28%,1.13%,-1.44%,6.18%,1.02%,8.52%,6.36%,10.07%
60,JM Large Cap Fund - GrowthLarge Cap Fund,3,2555.64,0.12%,1.14%,4.44%,1.07%,1.89%,5.24%,3.11%,8.81%,4.84%,6.71%
61,Mahindra Pragati Bluechip Yojana - Regular Pla...,-,93.11,-0.87%,0.16%,12.12%,4.57%,5.48%,-,-,-,-,-
62,Mahindra Pragati Bluechip Yojana - Direct Plan...,-,93.11,-0.84%,0.33%,12.70%,5.66%,6.89%,-,-,-,-,-

## 7. Creating a DataFrame from a JSON file

In [26]:
import json

json_data = """
{ 
  "Country":"India",
  "Products":["Home Appliances","Grocery","Travel Services"],
  "Location":"Mumbai",
  "Contact":null,
  "Payment":[{"Online":"Credit Card/Netbanking","Offline":"Cash","Credit":"NA"}]
}
"""

#Create a company data in json format
#Create a company data in json format
company_data = json.loads(json_data)

#Create the data set from the json data
company_data_from_JSON_df = pd.DataFrame(company_data["Products"],columns = ["Product"])
company_data_from_JSON_df

           Product
0  Home Appliances
1          Grocery
2  Travel Services